*, ::after, ::before {
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar {
  background-color: #fff;
  margin: 0;
}
.navbar .nav.navbar-right li a {
  color: #000;
  text-transform: uppercase;
}
.navbar .nav.navbar-right li.active a {color: #c37f1e;}
.jumbotron {
  background-color: #fff;
  background: url('../img/profile.jpeg') no-repeat;
  background-size: cover;
}
.jumbotron .profile {
  display: flex;
  align-items: center;
}
.jumbotron .profile:nth-child(1) {margin-right: auto;}
.jumbotron .profile:nth-child(2) {margin-left: auto;}
.profile-img {
  border: 5px solid white;
  border-radius: 100%;
  z-index: 10;
}
.profile-name {
  background-color: #c37f1e;
  padding: 10px 30px;
  border-radius: 25px;
  margin-left: -20px;
  z-index: 1;
}
.jumbotron .profile-name p{
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
}
.jumbotron .btn {
  border-radius: 25px;
  color: #2c1106;
  text-transform: uppercase;
}
.index2 .jumbotron .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index2 .jumbotron .profile-name:nth-child(1) {
  margin-right: -20px;
}
.double-column .col-sm-6 {
  border: 1px solid #b2afa6;
  border-radius: 25px;
  background-color: #fff;
}
.double-column .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.double-column .btn {
  padding: 10px 40px 10px 10px;
  background-color: #2c1106;
  text-transform: uppercase;
  border-color: #2c1106;
  border-radius: 15px;
  font-weight: 700;
  flex: 0 0 70%;
}
.double-column .fa {
  border-radius: 50%;
  background: #2c1106;
  padding: 15px;
  border: 5px solid white;
  margin-left: -20px;
  color: #fff;
  font-size: 2.4rem;
}
span.fa {font-family: inherit;}
.information .row {
  border: 1px solid #b2afa6;
  border-radius: 15px;
}
.information h2,.information h3,.information h4 {
  text-align: center;
  text-transform: uppercase;
}
/* media queries */
@media screen and (min-width: 768px) {
  .jumbotron {height: 350px;}
  .profile-img {
    height: 120px;
    width: 120px;
  }
  .double-column {margin-top: -150px;}
  .double-column .col-sm-6 {
    width: 45%;
    margin: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron {height: 300px;}
  .double-column {margin-top: -120px;}
  .index2 .double-column {margin-top: -200px;}
  .jumbotron .profile-name {padding: 10px 20px; margin-left: -15px;}
  .index2 .jumbotron .profile-name:nth-child(1) {margin-right: -15px;}
  .jumbotron .profile-name p {font-size: 1.5rem;}
  .double-column .col-sm-6:nth-child(1) {
    margin-bottom: 15px;
  }
  .profile-img {
    height: 70px;
    width: 70px;
  }
}
